<!-- 
<form (ngSubmit)="createTrainer()">
	<input type="text" name="name" placeholder="Name" [(ngModel)]="name">

	<input type="number" name="age" placeholder="Age" [(ngModel)]="age">

	<input type="text" name="hobby" placeholder="Hobby" [(ngModel)]="hobby">

	<input type="text" name="photo" placeholder="Photo" [(ngModel)]="photo">

	<button type="submit">Create Trainer</button>
</form> -->

<div class="card text-center" style="width: 40rem; border:0cm; margin-top: 1em;">
	<div class="card-body" style="padding:2rem; margin-top: 1em;">
<form (ngSubmit)="createTrainer()">
	<div class="form-row">
		<div class="form-group col-md-6">			
			<input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="name">
		</div>
		<div class="form-group col-md-6">
			<input type="number" min="0" class="form-control" name="age" placeholder="Age" [(ngModel)]="age">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<input type="text" class="form-control" name="hobby" placeholder="Hobby" [(ngModel)]="hobby">
		</div>
		<div class="form-group col-md-6">
			<input type="text" class="form-control" name="photo" placeholder="Photo" [(ngModel)]="photo">
		</div>
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-outline-primary text-center">Create Trainer</button>
	</div>
</form>
</div>
</div>
{{name}} {{age}} {{hobby}} {{photo}}

<app-trainer-cart></app-trainer-cart>



