<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/pokedex">
    <img src="assets/images/logo.png" width="120px" class="img-responsive" alt="Pokemon Logo">
  </a>
  <div class="row">
    <div class="navbar-collapse">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#" routerLink="pokedex" routerLinkActive="active" role="tab" aria-controls="pokedex" aria-selected="true">Pokedex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#" routerLink="trainer" routerLinkActive="active"
            role="tab" aria-controls="trainer" aria-selected="false">Trainer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#" routerLink="team" routerLinkActive="active" role="tab" aria-controls="team" aria-selected="false">Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
