@import "~bootstrap-icons/font/bootstrap-icons.css";

.content {
  padding-top: 70px;
  padding-bottom: 200px;
}

.container, .container-fluid {
  margin: 30px 0 30px 0;
}

form {
  margin: 15px 0 15px 0;
}

form button {
  margin: 15px 0 15px 0;
}

.form-inline button {
  margin: 0;
}

.custom-select {
  min-width: 193px;
}

html{
  min-height: 100%;
  position: relative;
}