.x {
    align-self: flex-end;
    margin: 5px 10px;
    position: absolute;
}
.x:hover {
    cursor: pointer;
}

.default-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    margin-top: 10px;
    padding-left: 10px;
}

.card {
    margin: 0 5px;
    width: 225px;
    border-radius: 5px;
}

.selected {
    background-color: #dee2e6;
}




