.x {
    top: 0px;
    right: 0px;
    margin: 5px 10px;
    position: absolute;
}
.x:hover {
    cursor: pointer;
}

.default-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    margin-top: 10px;
    padding-left: 10px;
}

.card {
    margin: 5px;
    padding: 10px;
    width: 225px;
    border-radius: 5px;
    min-height: 150px;
    display: flex;
    justify-content: flex-end;

}

.selected {
    background-color: #dee2e6;
}

.trainer-picture {
    max-height: 80px;
}


