<!-- <nav>
    <ul>
        <li routerLink="team" routerLinkActive="active" >Team</li>
        <li routerLink="pokedex" routerLinkActive="active">Pokedex</li>
        <li routerLink="trainer" routerLinkActive="active">Trainer</li>
    </ul>
</nav> -->

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                    </div>
                </div>
            </div>

            <ul class="list-group">
                <div class="row">
                    <div class="col-md-10">
                      <div class="accordion" id="accordion">
                            <div class="card">
                              <div class="card-header"> 
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="pokedex-tab" data-toggle="tab" href="#"
                                        routerLink="pokedex"
                                        routerLinkActive="active"
                                        role="tab" aria-controls="pokedex" aria-selected="true">Pokedex</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#"
                                        routerLink="trainer"
                                        routerLinkActive="active"
                                        role="tab" aria-controls="trainer"
                                            aria-selected="false">Trainer</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#"
                                        routerLink="team"
                                        routerLinkActive="active"
                                        role="tab" aria-controls="team"
                                            aria-selected="false">Team</a>
                                    </li>
                                </ul>
                                
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
