<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-4">
      <form class="form-inline">
        <div class="form-group mb-2">
          <select class="custom-select" required>
            <option disabled selected>Select trainer</option>
            <option *ngFor="let trainer of trainerList; let i = index">{{trainer}}</option>
          </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input class="form-control" type="search" placeholder="Pokemon name" aria-label="Search" required>
        </div>
        <button type="submit" class="btn btn-outline-success mb-2">Search</button>
      </form>
    </div>
  </div>
</div>