<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-4">
      <form class="form-inline" #form="ngForm" (ngSubmit)="addPokemon(pokemonToAdd)">
        <div class="form-group mb-2">
          <select class="custom-select" required [(ngModel)]="selectedTrainer" (ngModelChange)="showPokemons($event)" name="selectTrainer">
            <option [ngValue]="team.teamId" *ngFor="let team of teamList; let i = index">{{team.trainerName}}</option>
          </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input class="form-control" name="pokemon" type="add" placeholder="Pokemon name / number" aria-label="Add" required [(ngModel)]="pokemonToAdd">
        </div>
        <button [disabled]="form.invalid || teamId === 0" type="submit" class="btn btn-outline-primary mb-2">Add Pokemon</button>
      </form>
    </div>
  </div>

  <div class="team">
      <app-pokemon-card *ngFor="let pokedexId of pokemonList; let i = index" [pokedexId]="pokedexId" (removePokemonEvent)="removePokemon(pokemonIdList[i], teamId, i)"></app-pokemon-card>
  </div>
  
</div>